/* reszponzivitás */
@media only screen and (max-width: 400px) {
    #keret {
        flex-direction: column !important;
    }

    #szóelemek,
    #feladvány_keret {
        width: 100% !important;
    }

    #szótő_button,
    #képző_button,
    #névmás_button,
    #igenév_button {
        color: white;
    }

    .ige,
    .főnév,
    .melléknév,
    .számnév,
    .igenév,
    .határozószó,
    .viszonyszó,
    .névmás {
        width: 100px !important;
        font-size: 12px !important;
    }

    #szótő,
    #képző,
    #névmás,
    #igenév {
        height: 260px !important;
    }

    .válasz {
        width: 150px !important;
    }
}


/* reszponzivitás */
@media only screen and (max-width: 985px) {

    #szótő_button,
    #képző_button,
    #névmás_button,
    #igenév_button {
        color: white;
    }

    .ige,
    .főnév,
    .melléknév,
    .számnév,
    .igenév,
    .határozószó,
    .viszonyszó,
    .névmás {
        width: 90px !important;
        font-size: 12px !important;
    }

}

#keret {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
}

.szóelemgomb_ablak {
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}

.szóelem_ablak {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px;
}

#szóelemek {
    display: flex;
    flex-direction: row;
    background-color: #542582;
    width: 40%;
    height: 500px;

}

.inditas {
    margin: 10px 0 0 0;
}




#ige,
#névszó,
#névmás,
#igenév,
#viszonyszó {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 95%;
    height: 400px;
    overflow: auto;
    border: 1px solid #000;
    box-shadow: 3px 3px #888888;
    z-index: 1;
    background-color: #C57AF6;
}


/* #névszó{

}

#névmás{

}
 */

.ige,
.névszó,
.névmás,
.igenév,
.viszonyszó {
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;

}


.ige {
    background-color: red;
    color: white;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
}

.névszó {
    background-color: blue;
    color: white;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
}

.főnév {
    background-color: blue;
    color: white;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
}

.melléknév {
    background-color: greenyellow;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
}

.számnév {
    background-color: yellow;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
}

.határozószó {
    background-color: salmon;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
}

.névmás {
    background-color: peachpuff;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
}

.igenév {
    background-color: Turquoise;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
}

.viszonyszó {
    background-color: chocolate;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
}

#feladvány_keret {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 500px;
    background-color: #FDB926;
    align-items: center;
}

#feladvány {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feladvany_szo {
    font-size: 36px;
    margin-bottom: 10px;
    color: #542582;
}

.válasz {
    width: 200px;
    height: 55px;
    margin: 3px;
    padding-top: 5px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px #888888;
    cursor: pointer;
    background-color: #542582;
    color: #FDB926;
}

.alap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.szó {
    width: 150px;
    text-align: right;
    font-size: 24px;
    margin-right: 10px;
    color: #542582;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid black;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #542582;
    border: 2px solid #fff;
    border-radius: 15px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FDB926;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#ige_button,
#névszó_button,
#névmás_button,
#igenév_button,
#viszonyszó_button {
    color: #FDB926;
}

/* A gombok */
#inditas,
#ellenőrzés {
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

#ujGomb,
#ujra {
    background-color: #f55858;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

#inditas {
    background-color: #542582;
    color: #FDB926;
}


#ellenoriz {
    background-color: #CDD629;
    /* background-color:  #e2e049; */
}